#result {
    text-align: center;
    font-family: monospace;
    font-size:large;
    animation-name: resultAffordance;
    animation-duration:4s;
}

#bid {
    margin: 20px;
    padding: 20px;
    text-align: center;
}

#bid h1 {
    padding: 0px;
    margin: 0px;
    padding-bottom: 40px;
}

#choices {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: auto;
}

button {
    font-size: 20px;
    font-family: monospace;
    padding: 20px;
    border-radius: 25px;
    border:none;
    box-shadow: 20px 20px 60px #bebebe, -30px -30px 60px #ffffff;
}

button:hover {
    border: 1px solid gainsboro;
    transition: .5s;
}

button:active {
    background-color: rgb(223, 219, 219);
    transition: .3s;
}

.author {
    padding:50px;
    font-family: monospace;
}